<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Project3</display-name>

	<!-- 메인화면 매핑 -->
	<servlet>
		<servlet-name>MainController</servlet-name>
		<servlet-class>controller.mainCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainController</servlet-name>
		<url-pattern>/main/main.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>JoinController</servlet-name>
		<servlet-class>controller.joinCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JoinController</servlet-name>
		<url-pattern>/member/join</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>controller.adminCtrl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/admin/admin.do</url-pattern>
	</servlet-mapping>


  <context-param>
  	<param-name>PAGE_SIZE</param-name>
  	<param-value>10</param-value>
  </context-param>
  <context-param>
  	<param-name>BLOCK_PAGE</param-name>
  	<param-value>5</param-value>
  </context-param>





	<context-param>
		<param-name>MariaJDBCDriver</param-name>
		<param-value>org.mariadb.jdbc.Driver</param-value>
	</context-param>

	<context-param>
		<param-name>MariaConnectURL</param-name>
		<param-value>jdbc:mariadb://127.0.0.1:3306/suamil_db</param-value>
	</context-param>







	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>